*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
opencode.json
/app/src/main/assets/databases/characters.db
__pycache__/
*.jks
keystore.properties
keystore_base64.txt
